In [12]:
import pandas as pd
nba_url = "https://www.basketball-reference.com/leagues/NBA_2024_per_game.html"
nba_table = pd.read_html(nba_url)


nba = nba_table[0]
nba.head(5)

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Precious Achiuwa,PF-C,24,TOT,69,18,22.6,3.3,6.6,...,.616,2.7,4.1,6.8,1.4,0.7,1.0,1.1,2.0,8.0
1,1,Precious Achiuwa,C,24,TOR,25,0,17.5,3.1,6.8,...,.571,2.0,3.4,5.4,1.8,0.6,0.5,1.2,1.6,7.7
2,1,Precious Achiuwa,PF,24,NYK,44,18,25.5,3.5,6.5,...,.643,3.1,4.5,7.6,1.1,0.7,1.2,1.1,2.2,8.2
3,2,Bam Adebayo,C,26,MIA,65,65,34.2,7.6,14.6,...,.753,2.3,8.4,10.6,4.0,1.1,1.0,2.3,2.2,19.6
4,3,Ochai Agbaji,SG,23,TOT,72,23,20.2,2.3,5.5,...,.667,0.9,1.8,2.7,1.0,0.6,0.5,0.8,1.4,5.8

In [13]:
type(nba.columns)

pandas.core.indexes.base.Index

In [14]:
nba.Pos.unique()
#C pivot, PF ala pivot, SF alero, SG Escolta, PG base

array(['PF-C', 'C', 'PF', 'SG', 'PG', 'SF', 'Pos', 'PF-SF', 'SG-PG',
       'SF-PF', 'C-PF', 'SF-SG', 'PG-SG'], dtype=object)

In [15]:
# Convert relevant columns to numeric types
nba["Age"] = pd.to_numeric(nba["Age"], errors="coerce")
nba["MP"] = pd.to_numeric(nba["MP"], errors="coerce")
nba["PTS"] = pd.to_numeric(nba["PTS"], errors="coerce")
nba["AST"] = pd.to_numeric(nba["AST"], errors="coerce")

# Filter the DataFrame
base_promesa = nba.loc[(nba["Age"] <= 23) & (nba["Pos"] == "PG") & (nba["MP"] >= 20.0) & (nba["PTS"] >= 11.0) & (nba["AST"] >= 4.0)]
colsel0 = base_promesa.loc[:, ["Player","Tm","Age","Pos","MP","PTS","AST"]]
colsel0.sort_values(by = "Age")

                Player   Tm   Age Pos    MP   PTS   AST
286    Scoot Henderson  POR  19.0  PG  27.8  13.5   5.0
226     Keyonte George  UTA  20.0  PG  26.9  12.7   4.5
30         LaMelo Ball  CHO  22.0  PG  32.3  23.9   8.0
149    Cade Cunningham  DET  22.0  PG  33.5  22.7   7.5
408           Tre Mann  CHO  22.0  PG  30.8  11.4   4.9
265  Tyrese Haliburton  IND  23.0  PG  32.2  20.4  11.0
421       Tyrese Maxey  PHI  23.0  PG  37.5  25.8   6.3
705         Coby White  CHI  23.0  PG  36.7  19.3   5.2

In [20]:
import pandas as pd

for column in ["Age", "MP", "PTS", "3P","3P%"]:
    nba[column] = pd.to_numeric(nba[column], errors="coerce")
    
escolta_promesa = nba.loc[(nba["Age"] <= 23) & (nba["Pos"] == "SG") & (nba["MP"] >= 15) & (nba["PTS"] >= 11.0) & (nba["3P"] >= 1.0) & (nba["3P%"] >= .350)]
colsel = escolta_promesa.loc[:, ["Player","Tm","Age","Pos","MP","PTS","3P","3P%"]]
colsel.drop(range(22, colsel.shape[0]+1,20)) 
colsel.sort_values(by="Age", ascending=False)

              Player   Tm   Age Pos    MP   PTS   3P    3P%
40        RJ Barrett  TOT  23.0  SG  31.5  19.7  1.6  0.373
42        RJ Barrett  TOR  23.0  SG  33.4  21.1  1.6  0.425
674    Devin Vassell  SAS  23.0  SG  33.1  19.5  2.4  0.372
183  Anthony Edwards  MIN  22.0  SG  35.2  26.1  2.4  0.360
637      Jalen Suggs  ORL  22.0  SG  26.9  12.4  2.1  0.401
647       Cam Thomas  BRK  22.0  SG  31.1  22.1  2.1  0.361