In [6]:
import pandas as pd
nba_url = "https://www.basketball-reference.com/leagues/NBA_2024_per_game.html"
nba_table = pd.read_html(nba_url)


nba = nba_table[0]
nba.head(5)

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Precious Achiuwa,PF-C,24,TOT,71,18,22.3,3.2,6.5,...,.616,2.6,4.0,6.7,1.3,0.6,0.9,1.1,2.0,7.8
1,1,Precious Achiuwa,C,24,TOR,25,0,17.5,3.1,6.8,...,.571,2.0,3.4,5.4,1.8,0.6,0.5,1.2,1.6,7.7
2,1,Precious Achiuwa,PF,24,NYK,46,18,24.9,3.3,6.3,...,.643,3.0,4.3,7.3,1.1,0.7,1.2,1.1,2.2,7.8
3,2,Bam Adebayo,C,26,MIA,67,67,34.2,7.6,14.6,...,.755,2.3,8.4,10.7,4.0,1.1,1.0,2.3,2.3,19.6
4,3,Ochai Agbaji,SG,23,TOT,74,25,20.5,2.3,5.5,...,.640,0.9,1.8,2.8,1.0,0.6,0.5,0.8,1.5,5.8

In [7]:
nba.columns

Index(['Rk', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%',
       '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%',
       'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

In [8]:
nba.Pos.unique()
#C pivot, PF ala pivot, SF alero, SG Escolta, PG base.

array(['PF-C', 'C', 'PF', 'SG', 'SF', 'PG', 'Pos', 'PF-SF', 'SG-PG',
       'SF-PF', 'C-PF', 'SF-SG', 'PG-SG'], dtype=object)

In [53]:
for column in ["Age", "MP", "PTS", "AST", "TOV", "STL"]:
    nba[column] = pd.to_numeric(nba[column], errors="coerce")

base_promesa = nba.loc[(nba["Age"] <= 23) & (nba["Pos"] == "PG") & (nba["MP"] >= 20.0) & (nba["PTS"] >= 5.0) & (nba["AST"] >= 4.0) & (nba["TOV"] <= 3) & (nba["STL"] >= 0.5)]
colsel0 = base_promesa.loc[:, ["Player","Tm","Age","Pos","MP","PTS","AST","TOV", "STL"]]
colsel0.sort_values(by = "Age")

                Player   Tm   Age Pos    MP   PTS   AST  TOV  STL
229     Keyonte George  UTA  20.0  PG  26.9  12.8   4.5  2.4  0.5
285      Killian Hayes  DET  22.0  PG  24.0   6.9   4.9  1.2  0.9
412           Tre Mann  CHO  22.0  PG  30.9  11.5   4.9  2.0  1.6
268  Tyrese Haliburton  IND  23.0  PG  32.3  20.1  10.9  2.3  1.2
425       Tyrese Maxey  PHI  23.0  PG  37.6  25.9   6.3  1.7  1.0
534  Scotty Pippen Jr.  MEM  23.0  PG  23.8  11.5   4.4  2.5  1.5
713         Coby White  CHI  23.0  PG  36.4  18.9   5.1  2.1  0.7

In [51]:
for column in ["Age", "MP", "PTS", "2P","2P%", "3P", "3P%","eFG%"]:
    nba[column] = pd.to_numeric(nba[column], errors="coerce")

esc_alero_promesa = nba.loc[(nba["Age"] <= 23) & ((nba["Pos"] == "SG") | (nba["Pos"] == "SF") | (nba["Pos"] == "SF-SG")) & 
                             (nba["MP"] >= 15) & (nba["PTS"] >= 10.0) & (nba["3P"] >= 1.0) & (nba["3P%"] >= 0.350) &
                                (nba["2P"] >= 3.0) & (nba["2P%"] >= 0.5) & (nba["eFG%"] >= 0.4) ]
colsel = esc_alero_promesa.loc[:, ["Player", "Tm", "Age", "Pos", "MP", "PTS","2P","2P%", "3P", "3P%", "eFG%"]]
colsel = colsel.drop(range(22, colsel.shape[0] + 1, 20))
colsel.sort_values(by="Age")

              Player   Tm   Age Pos    MP   PTS   2P    2P%   3P    3P%   eFG%
186  Anthony Edwards  MIN  22.0  SG  35.1  25.9  6.7  0.510  2.4  0.360  0.520
341    Jalen Johnson  ATL  22.0  SF  33.9  16.1  5.1  0.571  1.3  0.352  0.558
21       Deni Avdija  WAS  23.0  SF  29.9  14.6  4.3  0.564  1.2  0.376  0.564
41        RJ Barrett  TOT  23.0  SG  31.6  19.9  5.8  0.540  1.6  0.366  0.543
43        RJ Barrett  TOR  23.0  SG  33.5  21.3  6.8  0.594  1.5  0.407  0.598
485    Keegan Murray  SAC  23.0  SF  33.5  15.1  3.4  0.568  2.3  0.356  0.550
682    Devin Vassell  SAS  23.0  SG  33.1  19.5  4.9  0.544  2.4  0.372  0.550