In [106]:
import pandas as pd
nba_url = "https://www.basketball-reference.com/leagues/NBA_2024_per_game.html"
nba_table = pd.read_html(nba_url)


nba = nba_table[0]
nba.head(5)

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,eFG%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Precious Achiuwa,PF-C,24,TOT,74,18,21.9,3.2,6.3,.501,0.4,1.3,.268,2.8,5.0,.562,.529,0.9,1.5,.616,2.6,4.0,6.6,1.3,0.6,0.9,1.1,1.9,7.6
1,1,Precious Achiuwa,C,24,TOR,25,0,17.5,3.1,6.8,.459,0.5,1.9,.277,2.6,4.9,.528,.497,1.0,1.7,.571,2.0,3.4,5.4,1.8,0.6,0.5,1.2,1.6,7.7
2,1,Precious Achiuwa,PF,24,NYK,49,18,24.2,3.2,6.1,.525,0.3,1.0,.260,2.9,5.1,.578,.547,0.9,1.4,.643,2.9,4.3,7.2,1.1,0.6,1.1,1.1,2.1,7.6
3,2,Bam Adebayo,C,26,MIA,71,71,34.0,7.5,14.3,.521,0.2,0.6,.357,7.3,13.7,.528,.529,4.1,5.5,.755,2.2,8.1,10.4,3.9,1.1,0.9,2.3,2.2,19.3
4,3,Ochai Agbaji,SG,23,TOT,78,28,21.0,2.3,5.6,.411,0.8,2.7,.294,1.5,2.8,.523,.483,0.5,0.7,.661,0.9,1.8,2.8,1.1,0.6,0.6,0.8,1.5,5.8

In [201]:
nba.shape

(735, 33)

In [177]:
pd.reset_option('display.max_columns')

### LIMPIEZA DE NULOS

In [179]:
#LIMPIEZA DE NULOS
nba.isnull().sum()

Player      0
Pos         0
Age         0
Tm          0
G           0
GS          0
MP          0
FG          0
FGA         0
FG%         0
3P          0
3PA         0
3P%         0
2P          0
2PA         0
2P%         0
eFG%        0
FT          0
FTA         0
FT%         0
ORB         0
DRB         0
TRB         0
AST         0
STL         0
BLK         0
TOV         0
PF          0
PTS         0
MV.BA       0
MV.ES/AL    0
MV.AP       0
MV.C        0
dtype: int64

In [180]:

nba.dropna(subset=["Age"],inplace=True)

In [181]:
nba.isnull().sum()

Player      0
Pos         0
Age         0
Tm          0
G           0
GS          0
MP          0
FG          0
FGA         0
FG%         0
3P          0
3PA         0
3P%         0
2P          0
2PA         0
2P%         0
eFG%        0
FT          0
FTA         0
FT%         0
ORB         0
DRB         0
TRB         0
AST         0
STL         0
BLK         0
TOV         0
PF          0
PTS         0
MV.BA       0
MV.ES/AL    0
MV.AP       0
MV.C        0
dtype: int64

In [182]:
nba[nba["3P%"].isnull()]

Empty DataFrame
Columns: [Player, Pos, Age, Tm, G, GS, MP, FG, FGA, FG%, 3P, 3PA, 3P%, 2P, 2PA, 2P%, eFG%, FT, FTA, FT%, ORB, DRB, TRB, AST, STL, BLK, TOV, PF, PTS, MV.BA, MV.ES/AL, MV.AP, MV.C]
Index: []

[0 rows x 33 columns]

In [183]:
nba["3P%"].fillna(0.0, inplace=True)

/var/folders/q1/_v0p7pm55nq5xdgppfh64hcw0000gn/T/ipykernel_51191/4121698549.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  nba["3P%"].fillna(0.0, inplace=True)

In [184]:
nba[nba["3P%"].isnull()]

Empty DataFrame
Columns: [Player, Pos, Age, Tm, G, GS, MP, FG, FGA, FG%, 3P, 3PA, 3P%, 2P, 2PA, 2P%, eFG%, FT, FTA, FT%, ORB, DRB, TRB, AST, STL, BLK, TOV, PF, PTS, MV.BA, MV.ES/AL, MV.AP, MV.C]
Index: []

[0 rows x 33 columns]

In [185]:
nba[nba["2P%"].isnull()]

Empty DataFrame
Columns: [Player, Pos, Age, Tm, G, GS, MP, FG, FGA, FG%, 3P, 3PA, 3P%, 2P, 2PA, 2P%, eFG%, FT, FTA, FT%, ORB, DRB, TRB, AST, STL, BLK, TOV, PF, PTS, MV.BA, MV.ES/AL, MV.AP, MV.C]
Index: []

[0 rows x 33 columns]

In [186]:
nba["2P%"].fillna(0.0, inplace=True)

/var/folders/q1/_v0p7pm55nq5xdgppfh64hcw0000gn/T/ipykernel_51191/3222797998.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  nba["2P%"].fillna(0.0, inplace=True)

In [187]:
nba["FG%"].fillna(0.0, inplace=True)

/var/folders/q1/_v0p7pm55nq5xdgppfh64hcw0000gn/T/ipykernel_51191/1771916878.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  nba["FG%"].fillna(0.0, inplace=True)

In [188]:
nba["FT%"].fillna(0.0, inplace=True)

/var/folders/q1/_v0p7pm55nq5xdgppfh64hcw0000gn/T/ipykernel_51191/2096491128.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  nba["FT%"].fillna(0.0, inplace=True)

In [189]:
nba["eFG%"].fillna(0.0, inplace=True)

/var/folders/q1/_v0p7pm55nq5xdgppfh64hcw0000gn/T/ipykernel_51191/1568842716.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  nba["eFG%"].fillna(0.0, inplace=True)

In [190]:
nba[nba["2P%"].isnull()]

Empty DataFrame
Columns: [Player, Pos, Age, Tm, G, GS, MP, FG, FGA, FG%, 3P, 3PA, 3P%, 2P, 2PA, 2P%, eFG%, FT, FTA, FT%, ORB, DRB, TRB, AST, STL, BLK, TOV, PF, PTS, MV.BA, MV.ES/AL, MV.AP, MV.C]
Index: []

[0 rows x 33 columns]

In [191]:
nba[nba["FG%"].isnull()]

Empty DataFrame
Columns: [Player, Pos, Age, Tm, G, GS, MP, FG, FGA, FG%, 3P, 3PA, 3P%, 2P, 2PA, 2P%, eFG%, FT, FTA, FT%, ORB, DRB, TRB, AST, STL, BLK, TOV, PF, PTS, MV.BA, MV.ES/AL, MV.AP, MV.C]
Index: []

[0 rows x 33 columns]

In [192]:
nba[nba["FT%"].isnull()]

Empty DataFrame
Columns: [Player, Pos, Age, Tm, G, GS, MP, FG, FGA, FG%, 3P, 3PA, 3P%, 2P, 2PA, 2P%, eFG%, FT, FTA, FT%, ORB, DRB, TRB, AST, STL, BLK, TOV, PF, PTS, MV.BA, MV.ES/AL, MV.AP, MV.C]
Index: []

[0 rows x 33 columns]

In [193]:
nba[nba["eFG%"].isnull()]

Empty DataFrame
Columns: [Player, Pos, Age, Tm, G, GS, MP, FG, FGA, FG%, 3P, 3PA, 3P%, 2P, 2PA, 2P%, eFG%, FT, FTA, FT%, ORB, DRB, TRB, AST, STL, BLK, TOV, PF, PTS, MV.BA, MV.ES/AL, MV.AP, MV.C]
Index: []

[0 rows x 33 columns]

In [194]:
nba.isnull().sum()

Player      0
Pos         0
Age         0
Tm          0
G           0
GS          0
MP          0
FG          0
FGA         0
FG%         0
3P          0
3PA         0
3P%         0
2P          0
2PA         0
2P%         0
eFG%        0
FT          0
FTA         0
FT%         0
ORB         0
DRB         0
TRB         0
AST         0
STL         0
BLK         0
TOV         0
PF          0
PTS         0
MV.BA       0
MV.ES/AL    0
MV.AP       0
MV.C        0
dtype: int64

In [195]:
del(nba["Rk"])

KeyError: 'Rk'

In [196]:
nba.columns

Index(['Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'MV.BA',
       'MV.ES/AL', 'MV.AP', 'MV.C'],
      dtype='object')

In [197]:
nba.Pos.unique()
#C pivot, PF ala pivot, SF alero, SG Escolta, PG base.

array(['PF-C', 'C', 'PF', 'SG', 'SF', 'PG', 'SF-PF', 'PG-SG', 'C-PF',
       'PF-SF', 'SF-SG', 'SG-PG'], dtype=object)

### LIMPIEZA DE TIPOS DE VARIABLES

In [198]:
# Convierto todas las variables numericas a FLOAT

In [199]:
float_col = ["G","GS","FGA","3PA","2PA","FT","FTA","PF","AST","eFG%"]
for column in float_col:
    nba[column] = nba[column].astype(float)

In [200]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
Index: 735 entries, 0 to 762
Data columns (total 33 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Player    735 non-null    object
 1   Pos       735 non-null    object
 2   Age       735 non-null    float64
 3   Tm        735 non-null    object
 4   G         735 non-null    float64
 5   GS        735 non-null    float64
 6   MP        735 non-null    float64
 7   FG        735 non-null    float64
 8   FGA       735 non-null    float64
 9   FG%       735 non-null    float64
 10  3P        735 non-null    float64
 11  3PA       735 non-null    float64
 12  3P%       735 non-null    float64
 13  2P        735 non-null    float64
 14  2PA       735 non-null    float64
 15  2P%       735 non-null    float64
 16  eFG%      735 non-null    float64
 17  FT        735 non-null    float64
 18  FTA       735 non-null    float64
 19  FT%       735 non-null    float64
 20  ORB       735 non-null    float64
 21  DRB       735 non-null    float64
 22  TRB       735 non-null    float64
 23  AST       735 non-null    float64
 24  STL       735 non-null    float64
 25  BLK       735 non-null    float64
 26  TOV       735 non-null    float64
 27  PF        735 non-null    float64
 28  PTS       735 non-null    float64
 29  MV.BA     735 non-null    float64
 30  MV.ES/AL  735 non-null    float64
 31  MV.AP     735 non-null    float64
 32  MV.C      735 non-null    float64
dtypes: float64(30), object(3)
memory usage: 195.2+ KB

### JUGADORES SUB 23 MAS VALIOSOS POR POSICIONES

In [171]:
#BASE PROMESA

nba["MV.BA"] = (nba['PTS'] * 0.15) + (nba["FG%"] * 0.1) + (nba["FT%"] * 0.05) + (nba['MP'] * 0.1) + (nba["AST"] * 0.2) + (nba["STL"] * 0.1) - (nba["TOV"] * 0.08) + (nba["TRB"] * 0.05) + (nba['BLK'] * 0.02) + (nba["3P"] * 0.05) + (nba["3P%"] * 0.10)


base_promesa = nba.loc[(nba["Age"] <= 23) & (nba["Pos"] == "PG") & (nba["MP"] >= 20.0) & (nba["PTS"] >= 5.0) & 
                       (nba["AST"] >= 4.0) & (nba["TOV"] <= 3) & (nba["STL"] >= 0.5)]

colsel_BASE = base_promesa.loc[:, ["Player","Tm","Age","Pos","MP", "PTS","AST","FG","FG%","FT%","2P","2P%","3P", "3P%", "STL","TOV","ORB", "DRB", "TRB", "BLK", "MV.BA"]]
colsel_BASE.sort_values(by = "MV.BA", ascending=False)

,Player,Tm,Age,Pos,MP,PTS,AST,FG,FG%,FT%,2P,2P%,3P,3P%,STL,TOV,ORB,DRB,TRB,BLK,MV.BA
431,Tyrese Maxey,PHI,23.0,PG,37.5,25.9,6.2,9.1,0.450,0.868,6.1,0.501,3.0,0.373,1.0,1.7,0.5,3.2,3.7,0.5,9.30970
274,Tyrese Haliburton,IND,23.0,PG,32.2,20.1,10.9,7.2,0.477,0.855,4.4,0.595,2.8,0.364,1.2,2.3,0.5,3.4,3.9,0.7,8.82685
719,Coby White,CHI,23.0,PG,36.5,19.1,5.1,6.8,0.447,0.838,4.2,0.508,2.6,0.376,0.7,2.1,0.6,4.0,4.5,0.2,7.92020
418,Tre Mann,CHO,22.0,PG,31.0,11.9,5.2,4.5,0.453,0.759,3.1,0.509,1.4,0.364,1.7,2.0,0.6,3.9,4.5,0.1,6.35165
234,Keyonte George,UTA,20.0,PG,27.0,13.0,4.4,4.3,0.391,0.848,2.3,0.459,2.0,0.334,0.5,2.5,0.2,2.6,2.8,0.1,5.73690
540,Scotty Pippen Jr.,MEM,23.0,PG,25.1,12.9,4.7,4.8,0.493,0.745,3.3,0.534,1.4,0.417,1.7,2.7,1.0,2.1,3.2,0.5,5.70725
416,Tre Mann,TOT,22.0,PG,24.1,9.3,4.0,3.5,0.459,0.763,2.4,0.516,1.1,0.373,1.2,1.6,0.5,3.1,3.6,0.1,4.95535
291,Killian Hayes,DET,22.0,PG,24.0,6.9,4.9,2.8,0.413,0.660,2.3,0.455,0.5,0.297,0.9,1.2,0.3,2.6,2.8,0.5,4.68800

In [172]:
#ESCOLTA-ALERO SHOOTER PROMESA

nba["MV.ES/AL"] = (nba['PTS'] * 0.15) + (nba["FG%"] * 0.1) + (nba["FT%"] * 0.05) + (nba['MP'] * 0.1) + (nba["AST"] * 0.1) + (nba["STL"] * 0.05) - (nba["TOV"] * 0.08)  + (nba["TRB"] * 0.05) + (nba['BLK'] * 0.02) + (nba["3P"] * 0.15) + (nba["3P%"] * 0.15)


esc_alero_promesa = nba.loc[(nba["Age"] <= 23) & ((nba["Pos"] == "SG") | (nba["Pos"] == "SF") | (nba["Pos"] == "SF-SG")) & 
                             (nba["MP"] >= 20) & (nba["PTS"] >= 10.0) & (nba["3P"] >= 1.0) & (nba["3P%"] >= 0.350) &
                                (nba["2P"] >= 3.0) & (nba["2P%"] >= 0.5) & (nba["eFG%"] >= 0.4) ]

colsel_ES_AL = esc_alero_promesa.loc[:, ["Player", "Tm", "Age", "Pos", "MP", "PTS","AST","FG","FG%","FT%","2P","2P%","3P", "3P%", "STL","TOV","ORB", "DRB", "TRB", "BLK", "eFG%","MV.ES/AL"]]
colsel_ES_AL = colsel_ES_AL.drop(range(22, colsel_ES_AL.shape[0] + 1, 20))
colsel_ES_AL.sort_values(by="MV.ES/AL", ascending=False)

,Player,Tm,Age,Pos,MP,PTS,AST,FG,FG%,FT%,2P,2P%,3P,3P%,STL,TOV,ORB,DRB,TRB,BLK,eFG%,MV.ES/AL
189,Anthony Edwards,MIN,22.0,SG,35.1,25.9,5.1,9.1,0.461,0.836,6.7,0.515,2.4,0.357,1.3,3.1,0.7,4.8,5.4,0.5,0.522,8.50345
43,RJ Barrett,TOR,23.0,SG,33.5,21.8,4.1,8.5,0.553,0.629,7.0,0.605,1.5,0.392,0.6,2.5,1.1,5.3,6.4,0.4,0.601,7.55855
688,Devin Vassell,SAS,23.0,SG,33.1,19.5,4.1,7.3,0.472,0.801,4.9,0.544,2.4,0.372,1.1,1.6,0.4,3.4,3.8,0.3,0.550,7.27105
41,RJ Barrett,TOT,23.0,SG,31.7,20.2,3.3,7.5,0.495,0.715,6.0,0.549,1.6,0.360,0.5,2.2,0.9,4.5,5.4,0.4,0.547,7.03625
347,Jalen Johnson,ATL,22.0,SF,33.7,16.0,3.6,6.4,0.511,0.728,5.1,0.574,1.3,0.355,1.2,1.8,1.3,7.4,8.7,0.8,0.562,6.83275
491,Keegan Murray,SAC,23.0,SF,33.6,15.2,1.7,5.8,0.454,0.831,3.4,0.560,2.4,0.358,1.0,0.8,1.4,4.1,5.5,0.8,0.548,6.58765
21,Deni Avdija,WAS,23.0,SF,30.1,14.7,3.8,5.4,0.506,0.740,4.2,0.560,1.2,0.374,0.8,2.1,1.1,6.1,7.2,0.5,0.560,6.16070

In [173]:
#MOST VALUE ALA PIVOT U23

nba["MV.AP"] = (nba['PTS'] * 0.15) + (nba["FG%"] * 0.1) + (nba["FT%"] * 0.05) + (nba['MP'] * 0.15) + (nba["AST"] * 0.05) + (nba["STL"] * 0.05) - (nba["TOV"] * 0.05) + (nba["ORB"] * 0.05) + (nba["DRB"] * 0.05) +(nba["TRB"] * 0.1) + (nba['BLK'] * 0.1) + (nba["3P"] * 0.05) + (nba["3P%"] * 0.05)

AP_promesa = nba.loc[(nba["Age"] <= 23) & ((nba["Pos"] == "PF") | (nba["Pos"] == "C-PF")) & 
                        (nba["MP"] >= 20) & (nba["PTS"] >= 10.0) & (nba["FG"] >= 3.0) & (nba["FG%"] >= 0.4) & 
                        (nba["ORB"] >= 1) & (nba["DRB"] >= 4.0) & (nba["TRB"] >= 5.0) & (nba["BLK"] >= 0.3)]

colsel_AP = AP_promesa.loc[:, ["Player", "Tm", "Age", "Pos", "MP", "PTS","AST","FG","FG%","FT%","2P","2P%","3P", "3P%", "STL","TOV","ORB", "DRB", "TRB", "BLK", "MV.AP"]]
colsel_AP = colsel_AP.drop(range(22, colsel_AP.shape[0] + 1, 20))
colsel_AP.sort_values(by="MV.AP", ascending=False)

,Player,Tm,Age,Pos,MP,PTS,AST,FG,FG%,FT%,2P,2P%,3P,3P%,STL,TOV,ORB,DRB,TRB,BLK,MV.AP
33,Paolo Banchero,ORL,21.0,PF,35.0,22.6,5.4,8.0,0.455,0.725,6.5,0.493,1.5,0.339,0.9,3.1,1.0,5.9,6.9,0.6,10.06870
742,Zion Williamson,NOP,23.0,PF,31.5,22.9,5.0,8.9,0.570,0.702,8.8,0.574,0.1,0.333,1.1,2.8,1.7,4.1,5.8,0.7,9.37875
472,Evan Mobley,CLE,22.0,PF,30.6,15.7,3.2,6.4,0.580,0.719,6.0,0.604,0.4,0.373,0.9,1.8,2.2,7.1,9.4,1.4,8.73760
635,Jabari Smith Jr.,HOU,20.0,PF,31.9,13.7,1.6,5.0,0.454,0.811,3.2,0.530,1.8,0.363,0.7,1.2,1.8,6.3,8.1,0.8,8.38410
648,Isaiah Stewart,DET,22.0,PF,30.9,10.9,1.6,4.0,0.487,0.753,2.6,0.575,1.5,0.383,0.4,1.4,1.6,5.0,6.6,0.8,7.55050
639,Jeremy Sochan,SAS,20.0,PF,29.6,11.6,3.4,4.6,0.438,0.771,3.6,0.492,0.9,0.308,0.8,1.9,1.9,4.6,6.4,0.5,7.45275
7,Santi Aldama,MEM,23.0,PF,26.5,10.7,2.3,4.0,0.435,0.621,2.3,0.534,1.7,0.349,0.7,1.1,1.2,4.6,5.8,0.9,6.81200

In [174]:
#MOST VALUE PIVOT U23

nba["MV.C"] = (nba['PTS'] * 0.15) + (nba["FG%"] * 0.1) + (nba["FT%"] * 0.05) + (nba['MP'] * 0.14) + (nba["AST"] * 0.05) + (nba["STL"] * 0.05) - (nba["TOV"] * 0.05) + (nba["ORB"] * 0.08) + (nba["DRB"] * 0.08) +(nba["TRB"] * 0.1) + (nba['BLK'] * 0.15)

Piv_promesa = nba.loc[(nba["Age"] <= 23) & ((nba["Pos"] == "C") | (nba["Pos"] == "C-PF")) & 
                        (nba["MP"] >= 20) & (nba["PTS"] >= 10.0) & (nba["FG"] >= 3.0) & (nba["FG%"] >= 0.4) & 
                        (nba["ORB"] >= 1.5) & (nba["DRB"] >= 4.0) & (nba["TRB"] >= 6.0) & (nba["BLK"] >= 0.5)]

colsel_PIV = Piv_promesa.loc[:, ["Player", "Tm", "Age", "Pos", "MP", "PTS","AST","FG","FG%","FT%","2P","2P%","3P", "3P%", "STL","TOV","ORB", "DRB", "TRB", "BLK", "MV.C"]]
colsel_PIV = colsel_PIV.drop(range(22, colsel_PIV.shape[0] + 1, 20))
colsel_PIV.sort_values(by="MV.C", ascending=False)

,Player,Tm,Age,Pos,MP,PTS,AST,FG,FG%,FT%,2P,2P%,3P,3P%,STL,TOV,ORB,DRB,TRB,BLK,MV.C
716,Victor Wembanyama,SAS,20.0,C,29.7,21.4,3.9,7.8,0.465,0.796,6.0,0.534,1.8,0.325,1.2,3.7,2.3,8.4,10.6,3.6,9.98030
612,Alperen Sengun,HOU,21.0,C,32.5,21.1,5.0,8.4,0.537,0.693,7.8,0.567,0.5,0.297,1.2,2.6,2.9,6.4,9.3,0.7,9.76235
311,Chet Holmgren,OKC,21.0,C,29.4,16.5,2.4,6.2,0.530,0.793,4.6,0.623,1.6,0.370,0.6,1.6,1.6,6.3,7.9,2.3,8.52065
187,Jalen Duren,DET,20.0,C,29.1,13.8,2.4,5.7,0.619,0.790,5.7,0.623,0.0,0.000,0.5,2.1,3.1,8.5,11.6,0.8,8.49340
737,Mark Williams,CHO,22.0,C,26.7,12.7,1.2,5.2,0.649,0.719,5.2,0.649,0.0,0.000,0.8,0.9,4.0,5.7,9.7,1.1,7.70985
520,Onyeka Okongwu,ATL,23.0,C,25.5,10.2,1.3,4.1,0.611,0.793,3.6,0.676,0.4,0.333,0.5,0.8,2.6,4.2,6.8,1.1,6.63975

In [175]:
nba[nba["Age"].isnull()]

Empty DataFrame
Columns: [Player, Pos, Age, Tm, G, GS, MP, FG, FGA, FG%, 3P, 3PA, 3P%, 2P, 2PA, 2P%, eFG%, FT, FTA, FT%, ORB, DRB, TRB, AST, STL, BLK, TOV, PF, PTS, MV.BA, MV.ES/AL, MV.AP, MV.C]
Index: []

In [176]:
nba.dropna(subset=["Age"],inplace=True)

In [156]:
nba.isnull().sum()

Player    0
Pos       0
Age       0
Tm        0
G         0
GS        0
MP        0
FG        0
FGA       0
FG%       0
3P        0
3PA       0
3P%       0
2P        0
2PA       0
2P%       0
eFG%      0
FT        0
FTA       0
FT%       0
ORB       0
DRB       0
TRB       0
AST       0
STL       0
BLK       0
TOV       0
PF        0
PTS       0
dtype: int64

### ANALISIS UNA VEZ SACADOS LOS JUGADORES

In [72]:
nba.columns

Index(['Rk', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%',
       '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%',
       'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'MV.C',
       'MV.BA', 'MV.ES/AL', 'MV.AP'],
      dtype='object')

In [15]:
colsel_BASE = base_promesa.loc[:, ["Player", "MV.BA"]].to_dict()
colsel_ES_AL = esc_alero_promesa.loc[:, ["Player", "MV.ES/AL"]].to_dict()
colsel_AP = AP_promesa.loc[:, ["Player", "MV.AP"]].to_dict()
colsel_PIV = Piv_promesa.loc[:, ["Player", "MV.C"]].to_dict()

{'Player': {187: 'Jalen Duren', 311: 'Chet Holmgren', 520: 'Onyeka Okongwu', 612: 'Alperen Sengun', 716: 'Victor Wembanyama', 737: 'Mark Williams'}, 'MV.C': {187: 8.4934, 311: 8.520650000000002, 520: 6.639750000000001, 612: 9.762350000000003, 716: 9.9803, 737: 7.70985}}

In [24]:
pd.set_option('display.max_columns', None)

In [73]:
nba2 = nba.copy()

In [74]:
del(nba2['MV.BA'])

In [76]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
Index: 735 entries, 0 to 762
Data columns (total 34 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Rk        735 non-null    object
 1   Player    735 non-null    object
 2   Pos       735 non-null    object
 3   Age       735 non-null    float64
 4   Tm        735 non-null    object
 5   G         735 non-null    object
 6   GS        735 non-null    object
 7   MP        735 non-null    float64
 8   FG        735 non-null    float64
 9   FGA       735 non-null    object
 10  FG%       735 non-null    float64
 11  3P        735 non-null    float64
 12  3PA       735 non-null    object
 13  3P%       735 non-null    float64
 14  2P        735 non-null    float64
 15  2PA       735 non-null    object
 16  2P%       735 non-null    float64
 17  eFG%      727 non-null    float64
 18  FT        735 non-null    object
 19  FTA       735 non-null    object
 20  FT%       735 non-null    float64
 21  ORB       735 non-null    float64
 22  DRB       735 non-null    float64
 23  TRB       735 non-null    float64
 24  AST       735 non-null    float64
 25  STL       735 non-null    float64
 26  BLK       735 non-null    float64
 27  TOV       735 non-null    float64
 28  PF        735 non-null    object
 29  PTS       735 non-null    float64
 30  MV.C      735 non-null    float64
 31  MV.BA     735 non-null    float64
 32  MV.ES/AL  735 non-null    float64
 33  MV.AP     735 non-null    float64
dtypes: float64(22), object(12)
memory usage: 201.0+ KB

In [75]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

# Definir las características (features) y el objetivo (target)
X = nba2
y = nba['MV.BA']  # Supongamos que queremos predecir 'MV.BA'

# Dividir los datos en conjunto de entrenamiento y prueba
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Crear y entrenar el modelo de regresión lineal
model = LinearRegression()
model.fit(X_train, y_train)

# Evaluar el modelo
train_score = model.score(X_train, y_train)
test_score = model.score(X_test, y_test)

print(f"Train Score: {train_score}")
print(f"Test Score: {test_score}")

ValueError: could not convert string to float: 'Noah Clowney'